<div class="container mt-3">

  <section>
    <article>

      <h2>Notas de Alumnos</h2>


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNotaAlumno">
        NUEVA NOTA
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalNotaAlumno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">INFORMACIÓN DE LA NOTA</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formNotaAlumno">
                <input type="hidden" id="notaAlumnoID" value="0" disabled />

                <div class="mb-3">
                  <label for="selectAlumnos" class="form-label">Alumno</label>
                  <select id="selectAlumnos" class="form-control">

                  </select>
                </div>

                <div class="mb-3">
                  <label for="selectAsignaturas" class="form-label">Asignatura</label>
                  <select id="selectAsignaturas" class="form-control">

                  </select>
                </div>

                <div class="mb-3">
                  <label for="fecha" class="form-label">Fecha</label>
                  <input type="date" class="form-control" id="fecha" />
                </div>

                <div class="mb-3">
                  <label for="nota" class="form-label">Nota</label>
                  <input type="number" class="form-control input-requerido" id="nota" placeholder="Ingrese la Nota" />
                  <!-- <span class="error-texto" id="errorNota">Campo obligatorio</span> -->
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-primary" onclick="GuardarNota()">Guardar</button>
            </div>
          </div>
        </div>
      </div>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Alumno</th>
            <th scope="col">DNI</th>
            <th scope="col">Nota</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-alumnos-notas">

        </tbody>
      </table>



      <script src="../js/notaAlumno.js"></script>
    </article>
  </section>

</div>