<div class="container mt-3">

  <section>
    <article>

      <h2 class="titulo-vista">Notas de Alumnos</h2>


      <!-- Button trigger modal -->
      <button type="button" class="btn-nuevo-flotante" data-bs-toggle="modal" data-bs-target="#modalNotaAlumno">
        Nueva Nota
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalNotaAlumno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">Registro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formNotaAlumno">
                <input type="hidden" id="notaAlumnoID" value="0" disabled />
                <div class="row">
                  <div class="mb-3 col-6">
                    <label for="selectCarreras" class="form-label">Carrera</label>
                    <select id="selectCarreras" class="form-control" onchange="ArmarComboAsignaturas()">

                    </select>
                  </div>
                  <div class="mb-3 col-6">
                    <label for="selectAsignaturas" class="form-label">Asignatura</label>
                    <select id="selectAsignaturas" class="form-control">

                    </select>
                  </div>
                  <div class="mb-3 col-4">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" class="form-control" id="fecha" />
                  </div>
                  <div class="mb-3 col-8">
                    <label for="selectAlumnos" class="form-label">Alumno</label>
                    <select id="selectAlumnos" class="form-control">

                    </select>
                  </div>
                  <div class="mb-3 col-6">
                    <label for="tipoInstancia" class="form-label">Tipo Instancia</label>
                    <select id="tipoInstancia" class="form-control">
                      <option value="0">[SELECCIONE INSTANCIA]</option>
                      <option value="1">I.Ev.1°</option>
                      <option value="2">I.Ev.2°</option>
                      <option value="3">I.Ev.3°</option>
                      <option value="4">I.Ev.4°</option>
                      <option value="5">Rec.1</option>
                      <option value="6">Rec.2</option>
                      <option value="7">IEFI</option>
                      <option value="8">R.IEFI</option>
                    </select>
                  </div>
                  <div class="mb-3 col-6">
                    <label for="nota" class="form-label">Nota</label>
                    <select id="nota" class="form-control">
                      <option value="0">Ausente</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-editar" onclick="GuardarNota()">Guardar</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Modal historial -->
      <div class="modal fade" id="modalHistorialNotaAlumno" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">HISTORIAL DE CAMBIOS DE LA NOTA</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Fecha Edición</th>
                    <th scope="col">Atributo</th>
                    <th scope="col">Valor Anterior</th>
                    <th scope="col">Valor Nuevo</th>
                  </tr>
                </thead>
                <tbody id="tbody-historial-notas"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="p-3 mb-2 bg-white text-dark">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 mb-2">
            <label class="control-label">Carrera</label>
            <select class="form-control form-control-sm" id="selectCarrerasFiltrar"  onchange="ArmarComboAsignaturasFiltrar()"></select>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-2">
            <label class="control-label">Asignatura</label>
            <select class="form-control form-control-sm" id="selectAsignaturasFiltrar" onchange="ObtenerNotasAlumnos()"></select>
          </div>
        </div>
      </div>

      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th class="text-center" scope="col">Fecha</th>
            <th scope="col">Alumno</th>
            <th class="ocultarElemento768" scope="col">DNI</th>
            <th scope="col">Asignatura</th>
            <th class="text-center" scope="col">Instancia</th>
            <th class="text-center" scope="col">Nota</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-alumnos-notas">

        </tbody>
      </table>



      <script src="../js/notaAlumno.js"></script>
    </article>
  </section>

</div>