<div class="container mt-3">

  <section>
    <article>

      <h2>Asignaturas</h2>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAsignatura">
        NUEVO
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalAsignatura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">DATOS</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formAsignatura">
                <input type="hidden" id="asignaturaID" value="0" disabled />

                <div class="mb-3">
                  <label for="asignaturaNombre" class="form-label">Descripción</label>
                  <input type="text" class="form-control input-requerido" id="asignaturaNombre"
                    placeholder="Ingrese el nombre completo" style="text-transform: uppercase" />
                  <!-- <span class="error-texto" id="errorNombre">Campo obligatorio</span> -->
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-asignaturas">

        </tbody>
      </table>


   
      <script src="../js/asignatura.js"></script>
    </article>
  </section>

</div>