<div class="container mt-3">
    <section>
        <article>

            <h2 class="titulo-vista">Listado de Asignaturas por Docente</h2>

            <table class="table table-bordered table-sm" id="tablaDocentes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Docente</th>
                        <th class="text-center">DNI</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </article>
    </section>
</div>

<script src="../js/InformeAsignaturasPorDocente.js"></script>