<div class="container mt-3">

  <section>
    <article>

      <h2 class="titulo-vista">Alumnos</h2>

      <!-- Button trigger modal -->
      <button type="button" class="btn-nuevo-flotante" data-bs-toggle="modal" data-bs-target="#modalAlumno">
        Nuevo Alumno
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalAlumno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">Registro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formAlumno">
                <input type="hidden" id="alumnoID" value="0" disabled />

                <div class="mb-3">
                  <label for="alumnoNombre" class="form-label">Nombre Completo</label>
                  <input type="text" class="form-control input-requerido" id="alumnoNombre"
                    placeholder="Ingrese el nombre completo" style="text-transform: uppercase" />
                  <!-- <span class="error-texto" id="errorNombre">Campo obligatorio</span> -->
                </div>

                <div class="mb-3">
                  <label for="dni" class="form-label">DNI</label>
                  <input type="number" class="form-control input-requerido" id="dni" placeholder="Ingrese el DNI" />
                  <!-- <span class="error-texto" id="errorDni">Campo obligatorio</span> -->
                </div>

                <div class="mb-3">
                  <label for="sexo" class="form-label">Sexo</label>
                 <select id="sexo" class="form-control">
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                 </select>
                </div>

                 <div class="mb-3">
                  <label for="domicilio" class="form-label">Domicilio</label>
                  <input type="text" class="form-control input-requerido" id="domicilio"
                    placeholder="Ingrese el domicilio" style="text-transform: uppercase" />
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-editar" onclick="Guardar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal historial -->
      <div class="modal fade" id="modalHistorialAlumno" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">HISTORIAL DE CAMBIOS DEL ALUMNO</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Fecha Edición</th>
                    <th scope="col">Atributo</th>
                    <th scope="col">Valor Anterior</th>
                    <th scope="col">Valor Nuevo</th>
                  </tr>
                </thead>
                <tbody id="tbody-historial-notas">

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>


      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Alumno</th>
            <th scope="col">DNI</th>
            <th scope="col">Domicilio</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-alumnos">

        </tbody>
      </table>


   
      <script src="../js/alumno.js"></script>
    </article>
  </section>

</div>