<div class="container mt-3">

  <section>
    <article>

      <h2 class="titulo-vista">Carreras</h2>


      <!-- Button trigger modal -->
      <button type="button" class="btn-nuevo-flotante" data-bs-toggle="modal" data-bs-target="#modalCarrera">
        <i class="fa-solid fa-plus"></i>
        Nueva Carrera
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalCarrera" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 id="titulo-modal" class="modal-title fs-5 subTitulo-vista"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formCarrera">
                <input type="hidden" id="carreraID" value="0" disabled />

                <div class="mb-3">
                  <label for="carreraNombre" class="form-label">Descripción</label>
                  <input type="text" class="form-control input-requerido" id="carreraNombre"
                    placeholder="Ingrese el nombre completo" style="text-transform: uppercase" />
                  <!-- <span class="error-texto" id="errorNombre">Campo obligatorio</span> -->
                </div>

                <div class="mb-3">
                  <label for="duracion" class="form-label">Duración</label>
                  <select id="duracion" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                     <option value="5">5</option>
                  </select>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-editar" onclick="Guardar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>


      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Duración</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-carreras">

        </tbody>
      </table>



      <script src="../js/carrera.js"></script>
    </article>
  </section>

</div>