<div class="container mt-3">

  <section>
    <article>

      <h2 class="titulo-vista">Docentes</h2>

      <!-- Button trigger modal -->
      <button type="button" class="btn-nuevo-flotante" data-bs-toggle="modal" data-bs-target="#modalDocente">
        Nuevo Docente
      </button>

      <!-- Modal crear tipo actiidad -->
      <div class="modal fade" id="modalDocente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">Registro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
              <form class="formDocente">
                <input type="hidden" id="docenteID" value="0" disabled />

                <div class="mb-3">
                  <label for="docenteNombre" class="form-label">Nombre Completo</label>
                  <input type="text" class="form-control input-requerido" id="docenteNombre"
                    placeholder="Ingrese el nombre completo" style="text-transform: uppercase" />
                  <span class="error-texto  text-danger" id="errorNombre"></span>
                </div>

                <div class="mb-3">
                  <label for="dni" class="form-label">DNI</label>
                  <input type="number" class="form-control input-requerido" id="dni" placeholder="Ingrese el DNI" />
                  <!-- <span class="error-texto" id="errorDni">Campo obligatorio</span> -->
                </div>

                <div class="mb-3">
                  <label for="sexo" class="form-label">Sexo</label>
                  <select id="sexo" class="form-control">
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control input-requerido" id="email" placeholder="Ingrese un Email"
                    style="text-transform: lowercase" />
                  <span class="error-texto text-danger" id="errorEmail"></span>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="LimpiarModal()">Cancelar</button>
              <button type="button" class="btn btn-editar" onclick="Guardar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal historial -->
      <div class="modal fade" id="modalHistorialDocente" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">HISTORIAL DE CAMBIOS DEL DOCENTE</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Fecha Edición</th>
                    <th scope="col">Atributo</th>
                    <th scope="col">Valor Anterior</th>
                    <th scope="col">Valor Nuevo</th>
                  </tr>
                </thead>
                <tbody id="tbody-historial-docentes">

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>


      <!-- Modal historial -->
      <div class="modal fade" id="modalAsignaturasDocente" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 subTitulo-vista">ASIGNATURAS DEL DOCENTE</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form class="row formAsignaturaDocente">
                <input type="hidden" id="docenteIDAsignatura" value="0" disabled />

                <div class="mb-3 col-6">
                  <label for="selectAsignaturas" class="form-label">Asignatura</label>
                  <select id="selectAsignaturas" class="form-control">

                  </select>
                </div>

                <div class="mb-3 col-6 text-center">
                  <button type="button" style="margin-top: 35px;" class="btn btn-editar" onclick="GuardarAsignaturaDocente()">Guardar</button>
                </div>
              </form>


              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Asignatura</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="tbody-asignaturas-docentes">

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>


      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Docente</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tbody-docentes">

        </tbody>
      </table>



      <script src="../js/docente.js"></script>
    </article>
  </section>

</div>